body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
.headline {
  font-family: "Manrope", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  display: inline-block;
  vertical-align: middle;
}

.bento-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

.consultation-fab {
  box-shadow: 0px 10px 30px rgba(40, 72, 72, 0.15);
  background-color: #a68a64;
}
